@media (max-width: 1024px) {
  .hero-content:before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url("../../public/assets/hero-section.webp");
    background-repeat: no-repeat;

    background-size: cover;
    z-index: -50;
  }
}

@media (min-width: 1025px) {
  .hero-content:before {
    content: " ";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    height: 100%;
    opacity: 1;
    background-image: url("../../public/assets/hero-section.webp");
    background-repeat: no-repeat;

    background-size: cover;
    z-index: -50;
  }
}
